name: Code Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint code
        run: bun lint

      - name: Build the code
        run: bun run type-check && bun run build

      - name: Prepare test environment
        run: bun run db:create-template

      - name: Test the code
        run: bun test
        env:
          LOG_LEVEL: http
          DATABASE_POSTGRES_MAX_CONNECTIONS: 1
          DATABASE_POSTGRES_LAZY_CONNECTION: true

      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: ./logs/*.log
